files:
  "/home/webapp/.npmrc":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      fetch-retries=5
      fetch-retry-mintimeout=20000
      fetch-retry-maxtimeout=120000
      fetch-timeout=300000
      maxsockets=15
      network-timeout=300000

option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_CONFIG_FETCH_RETRIES: "5"
    NPM_CONFIG_FETCH_RETRY_MINTIMEOUT: "20000"
    NPM_CONFIG_FETCH_RETRY_MAXTIMEOUT: "120000"
    NPM_CONFIG_FETCH_TIMEOUT: "300000"
    NPM_CONFIG_NETWORK_TIMEOUT: "300000"

